[submodule "branches/change-font"]
	path = branches/change-font
	url = https://github.com/psvenk/CRLSTime.git
	branch = change-font
[submodule "branches/testing"]
	path = branches/testing
	url = https://github.com/psvenk/CRLSTime.git
	branch = testing
